<header>
    <h1><a class="home-link" href="/"><i>Members Only<span class="tm">™</span></i> Message Board</a></h1>
    <% if(locals.user) { %>
        <div class="logBtn">
            <p>Welcome, <%= user.fname %> <%= user.lname %></p>
            <a class="buttons" href="/logout">Logout</a>
        </div>
    <% } else { %>
        <div class="logBtn">
            <a class="buttons" href="/login">Login</a>
            <a class="buttons" href="/register">Sign Up</a>
        </div>
    <% } %>
</header>