<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Failure</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("./header", {user: user}) %>
    <main>
        <p>No Such Membership code exists.</p>
        <p>Don't have an Code? Buy One <a href="/#">Here</a></p>
    </main>
</body>
</html>